#main-header {
	background: rgb(241, 5, 60);
	color: white;
	height: 100px;
    
}
#main-header img {
    max-width:70%;
    max-height:80%;
    padding:10px 0 0 0;

}

.cardPokemon{
    width: 225px;
    height: 274px;
    border: 1px solid black;
}
