*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: antiquewhite;
}
#main-header {
    display: flex;
    background: rgb(241, 5, 60);
    color: white;
    height: 100px;
    padding: 5px 5px 5px 5px
}

form{
    display: flex;
}
#root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(240, 208, 148);
}     
#menu-header {
    background: rgb(240, 208, 148);
    padding: 0px;
    display: flex;
}
#main-header img {
    max-width:80%;
    max-height:90%;
    margin:5px 360px 5px 20px;
}
.nav li {
    background-color: rgb(240, 208, 148);
    justify-content: center;
    padding: 5px 5px 5px 5px;
    align-items: center;
    border:1px ridge rgb(13, 77, 227);
    min-width:10px;
}

.nav li:hover {
    background-image: linear-gradient(to right, rgb(191, 240, 152) , rgb(111, 214, 255));

}

.nav li ul {
    display:none;
    position:absolute;
    min-width:150px;
    padding: 0;
    border:1px ridge rgb(13, 77, 227);

}
.nav li:hover > ul {
    display:block; 
}
.nav li img {
    width: 50px;
    height: 50px;
    margin: 0%;
}
.nav {
    max-width: 992px;
    width:auto;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0%;
    justify-content: center;
    display: flex;
  
}
ul {
    list-style:none;
}

.nav-menu{
    display: flex;
    margin-left: 20px;
    list-style: none;
    
}
.nav-menu li img{
    width: 30px;
    height: 30px;
}
.cardPokemon{
    width: 225px;
    height: 274px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border: 6px ridge rgb(224, 227, 234);
    border-radius: 10px ;
    color: rgb(121, 107, 107);
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-direction: column;  
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0.986);
}
 .cardPokemon img {
    height: 200px;
    width: 100%;
    margin-top: 1em;
    }
.nav-toggle{
    color:white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}
footer {
    display: flex;
    justify-content: space-around;
    color: rgb(240, 208, 148);
    bottom: 0;
    width: 100%;
    align-items: center;
    background: rgb(0, 0, 0);
    padding: 0.09em;
    text-align: center;
    height: 8.5em;

}
#searchInput { 
    background-color:rgba(255, 255, 255, 0.917);
    padding: 10px 20px;
    display: flex;    
    max-width:70%;
    max-height:70%;
    margin:10px 40px 20px 360px;
    border: 1px ridge rgb(13, 77, 227);
    border-radius: 20px ;   
    
}
#btn-search{
    display: flex;
    margin:auto; 
    border: 1px ridge rgb(13, 77, 227); 
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(191, 240, 152) , rgb(111, 214, 255));
}

.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightseagreen;
    background-image: linear-gradient(to right, rgb(191, 240, 152) , rgb(111, 214, 255));
    
}